<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Add Address</title>
</head>
<body>

    
    <div class="bloco">
        <h2>Add Address</h2>
        <div>
            <input class="inputStreet" type="text" placeholder="Street">
            <input class="inputNumber" type="text" placeholder="Number">
        </div>
        <div>
            <input class="inputCEP" type="text" placeholder="CEP">
            <input class="inputState" type="text" placeholder="State">
        </div>
        <div>
            <input class="inputCity" type="text" placeholder="City">
            <input class="inputDistrict" type="text" placeholder="District">
        </div>
        <input class="inputCountry" type="text" placeholder="Country">

        <input type="submit" value="Add Address">
    </div>
    
</body>
</html>