<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h2><a class="logo" href="">BookStore</a></h2>
        <div>
            <input type="text">
            <button type="submit">buscar</button>
        </div>
        <button type="submit">Menu</button>
    </header>
    <hr>

    <section>
        <div class="a1">livro</div>
        <div class="a2">livro</div>
        <div class="a3">livro</div>
        <div class="a4">livro</div>
        <div class="a5">livro</div>
    </section>

    <section>
        <div class="b1">livro</div>
        <div class="b2">livro</div>
        <div class="b3">livro</div>
        <div class="b4">livro</div>
        <div class="b5">livro</div>
    </section>

    <section>
        <div class="c1">livro</div>
        <div class="c2">livro</div>
        <div class="c3">livro</div>
        <div class="c4">livro</div>
        <div class="c5">livro</div>
    </section>

    <footer>
        <h2>© 2021 Projeto de DAC</h2>
    </footer>
</body>

</html>