<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Product</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h2><a class="logo" href="">BookStore</a></h2>
        <div>
            <input type="text">
            <button type="submit">buscar</button>
        </div>
        <button type="submit">Shopping cart</button>
        <button type="submit">Menu</button>
    </header>
    <hr>

    <div class="dateBook">
        <h3>Nome do Livro</h3>
        <h5>Author: nome do autor</h5>
    </div>

    <section>
        <div class="photoBook">
            <img class="photo" src="https://lojasaraiva.vteximg.com.br/arquivos/ids/12110827/1007686371.jpg?v=637142254732630000" alt="">
        </div>
        <div class="detailsBook">
            <h6>R$: 99,90</h6>
            <h2>R$: 37,90</h2>
            <h5>Economize até R$62,00 (62%)</h5>
            <br>
            <input type="submit" value="Add to cart">
            <br>
            <br>
            <br>
            <h5>calculate delivery*: </h5><input type="text">
            <button type="submit">calculate</button>
        </div>
        
    </section>

    <section>
        <div class="descriptionBook">
            <h3>Description</h3>
            <br>
            <p>Aposto que você quer, no final da sua vida, olhar para trás, bater no peito com o coração 
                cheio de felicidade, sem falsa modéstia, com plena convicção e serenidade, e dizer: minha 
                vida foi FODA. Mas calma, encontrar este livro é só o começo. Agora, você precisa levá-lo
                 com você. Com ele, você vai aprender comportamentos e atitudes necessários para conquistar,
                  em todos os aspectos da sua vida, resultados incríveis. Ele vai provocar e inspirar você
                   não só a ter o espírito elevado e sonhar com coisas inimagináveis, mas também se tornar
                    consciente do que precisa fazer para realizar cada um desses sonhos. Vamos juntos?</p>
        </div>
    </section>
    
    <section>
        <div class="descriptionBook">
            <h3>Characteristics</h3>
            <br>
           <table> 
              <tr>
                <td>finishing</td>
                <td>brochure</td>
              </tr>
              <tr>
                <td>Year of issue</td>
                <td>2017</td>
              </tr>
              <tr>
                <td>On order</td>
                <td>No</td>
              </tr>
              <tr>
                <td>Author</td>
                <td>Fulano de tal</td>
              </tr>
              <tr>
                <td>Digital Book Format</td>
                <td>No</td>
              </tr>
              <tr>
                <td>language</td>
                <td>Português</td>
              </tr>
              <tr>
                <td>number of pages</td>
                <td>189</td>
              </tr>
              <tr>
                <td>country of origin</td>
                <td>Brasil</td>
              </tr>
            </table>
        </div>
    </section>

    <section>
        <div class="evaluateBook">
            <h3>Evaluate</h3>
            <br>
            <table> 
                <tr>
                  <td>Lucas Lopes</td>
                  <td>Ótimo livro, recomendo muito!</td>
                  <td><img class="photoEstrelas" src="/backend/src/main/resources/templates/img/estrelas.png" alt=""></td>
                </tr>
                <tr>
                    <td>João Arhur</td>
                    <td>Livro bom, esse eu recomendo</td>
                    <td><img class="photoEstrelas" src="/backend/src/main/resources/templates/img/estrelas.png" alt=""></td>
                </tr>
                <tr>
                    <td>Thauan amorim</td>
                    <td>Esse livro é legal, mas dava pra ser melhor</td>
                    <td><img class="photoEstrela" src="/backend/src/main/resources/templates/img/estrela.png" alt=""></td>
                </tr>
            </table>
        </div>
    </section>
    
    <footer>
        <h2>© 2021 Projeto de DAC</h2>
    </footer>
</body>

</html>