<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h2><a class="logo" href="">BookStore</a></h2>
        <div>
            <input type="text">
            <button type="submit">buscar</button>
        </div>
        <button type="submit">Shopping cart</button>
        <button type="submit">Menu</button>
    </header>
    <hr>

    <section>
        <div class="descriptionBook">
            <div class="profileHeader">
                <h3>Overview</h3>
                <button type="submit">Edit</button>
            </div>
            <br>
            <div>
                <input type="text" placeholder="fulano de tal" disabled>
                <input type="text" placeholder="fulano@gmail.com" disabled>
            </div>
            <br>
            <input type="text" placeholder="Old Password" disabled>
            <input type="text" placeholder="New Password" disabled>
            <input type="text" placeholder="Confirm Password" disabled>
        </div>
    </section>
    
    <section>
        <div class="descriptionBook">
            <div>
                <h3>Requests</h3>
            </div>
            <br>
            <section class="requests">
                <p>nome do livro</p>
                <img class="photo2" src="https://lojasaraiva.vteximg.com.br/arquivos/ids/12110827/1007686371.jpg?v=637142254732630000" alt="">
                <p>R$37,90</p>
            </section>
        </div>
    </section>

    <section>
        <div class="descriptionAddress">
                <div class="profileHeader">
                    <h3>Address</h3>
                    <button type="submit">add new address</button>
                </div>
                <br>
                <section>
                    <div class="bloco2">
                        <p>Av principal</p>
                        <p>Alto de cima</p>
                        <p>Monteiro, paraiba</p>
                        <p>Brasil</p>
                        <button type="submit">edit</button>
                        <button type="submit">delete</button>
                    </div>
                    <div class="bloco2">
                        <p>Av do meio</p>
                        <p>Centro</p>
                        <p>Josão Pessoa, paraiba</p>
                        <p>Brasil</p>
                        <button type="submit">edit</button>
                        <button type="submit">delete</button>
                    </div>

                </section>
        </div>
    </section>
    
    <footer>
        <h2>© 2021 Projeto de DAC</h2>
    </footer>
</body>

</html>