<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Register Book</title>
</head>
<body>

    <div class="bloco">
        <h2>Register a Book</h2>
        <div>
            <input class="inputTitle" type="text" placeholder="Title*">
            <input class="inputYearLaunch" type="text" placeholder="Year Launch*">
            <input class="inputPages" type="text" placeholder="Pages*">
        </div>
        <div>
            <input class="inputPrice" type="text" placeholder="Price*">
            <input class="inputInvetoryQuantity" type="text" placeholder="Invetory Quantity*">
            <select >
                <option value="" style="display:none">Select publisher*</option>
            </select>
            <button class="addingCompany" type="submit">+</button>
            <button class="addingImage" type="submit">search image</button>
            
        </div>
        
        <fieldset>
            <legend>Authors</legend>
            <button class="addingAuthor" type="submit">adding new Author</button>
        </fieldset>
        <fieldset>
            <legend>Categorys</legend>
            <button class="addingCategory" type="submit">adding new Category</button>
        </fieldset>
        <input class="inputdescription" type="text" style="height: 110px" placeholder="Description*">
        
        
        <button class="addingBook" type="submit">Register Book</button>
    </div>
    
</body>
</html>