* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 0px 50px;
}

.a1,.a2,.a3,.a4,.a5{
    width: 240px;
    height: 300px;
    margin: 5px;
    background: black;
    opacity: 0.6;
}

.b1,.b2,.b3,.b4,.b5{
    width: 240px;
    height: 300px;
    margin: 5px;
    background: black;
    opacity: 0.6;
}

.c1,.c2,.c3,.c4,.c5{
    width: 240px;
    height: 300px;
    margin: 5px;
    background: black;
    opacity: 0.6;
}

footer {
    height: 100px;
    margin-top: 10px;
    background: rgb(177, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco {
    display: flow-root;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width: 650px;
    height: 550px;
    border-radius: 6px;
    background: rgb(170, 167, 167);
}



